body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:63px;
  background:inherit;
  background-color:rgba(238, 241, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:0px;
  width:1250px;
  height:63px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:18px;
  width:361px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  word-wrap:break-word;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:0px;
  width:65px;
  height:65px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#606877;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:21px;
  width:159px;
  height:31px;
  font-size:16px;
  color:#606877;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:8px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:28px;
  width:16px;
  height:8px;
  color:#606877;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:1003px;
  background:inherit;
  background-color:rgba(48, 66, 89, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:0px;
  width:278px;
  height:1003px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#9AA9BB;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:15px;
  width:72px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#9AA9BB;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9AA9BB;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:100px;
  width:86px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#9AA9BB;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:8px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:106px;
  width:16px;
  height:8px;
  color:#9AA9BB;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:63px;
  background:inherit;
  background-color:rgba(30, 44, 61, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:186px;
  height:63px;
  color:#FFFFFF;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00A2FF;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:173px;
  width:134px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00A2FF;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:213px;
  width:947px;
  height:314px;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:48px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:48px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  word-wrap:break-word;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:48px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:155px;
  height:48px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:16px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:151px;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:48px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:0px;
  width:202px;
  height:48px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:16px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:198px;
  word-wrap:break-word;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:48px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:0px;
  width:298px;
  height:48px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:16px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:294px;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:48px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:0px;
  width:252px;
  height:48px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:16px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:248px;
  word-wrap:break-word;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:40px;
  height:44px;
  font-size:14px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:48px;
  width:155px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u1190_ann {
  border-width:0px;
  position:absolute;
  left:181px;
  top:48px;
  width:1px;
  height:1px;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:44px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:48px;
  width:202px;
  height:44px;
  font-family:'simple-line-icons';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:44px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:48px;
  width:298px;
  height:44px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#00A2FF;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:48px;
  width:252px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:46px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:40px;
  height:46px;
  font-size:14px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:36px;
  word-wrap:break-word;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:46px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:92px;
  width:155px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:151px;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:46px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:92px;
  width:202px;
  height:46px;
  font-family:'simple-line-icons';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:46px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:92px;
  width:298px;
  height:46px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#00A2FF;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:294px;
  word-wrap:break-word;
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:46px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:92px;
  width:252px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:248px;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:40px;
  height:44px;
  font-size:14px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:138px;
  width:155px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:44px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:138px;
  width:202px;
  height:44px;
  font-family:'simple-line-icons';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:44px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:138px;
  width:298px;
  height:44px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#00A2FF;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:138px;
  width:252px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:40px;
  height:44px;
  font-size:14px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:182px;
  width:155px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:44px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:182px;
  width:202px;
  height:44px;
  font-family:'simple-line-icons';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:44px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:182px;
  width:298px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  word-wrap:break-word;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:182px;
  width:252px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:226px;
  width:40px;
  height:44px;
  font-size:14px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:226px;
  width:155px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:44px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:226px;
  width:202px;
  height:44px;
  font-family:'simple-line-icons';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:44px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:226px;
  width:298px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:226px;
  width:252px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:40px;
  height:44px;
  font-size:14px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:44px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:270px;
  width:155px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:44px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:270px;
  width:202px;
  height:44px;
  font-family:'simple-line-icons';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:44px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:270px;
  width:298px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:294px;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:44px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:270px;
  width:252px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:248px;
  word-wrap:break-word;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:92px;
  width:200px;
  height:30px;
}
#u1219_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:99px;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#00A2FF;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:93px;
  word-wrap:break-word;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  font-size:16px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:173px;
  width:262px;
  height:22px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  font-size:16px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 162, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:93px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
