body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1019px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 162, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:100px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u1815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:17px;
  width:100px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u1816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:17px;
  width:100px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u1817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:97px;
  width:385px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u1817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u1818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:154px;
  width:209px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u1819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:184px;
  width:146px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u1820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:207px;
  width:200px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:237px;
  width:200px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u1822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:214px;
  width:201px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u1823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:267px;
  width:169px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:244px;
  width:147px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u1825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:271px;
  width:168px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u1826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:297px;
  width:347px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
#u1827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:297px;
  width:101px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:337px;
  width:1008px;
  height:150px;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u1829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:0px;
  width:117px;
  height:30px;
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u1831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:0px;
  width:95px;
  height:30px;
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u1832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:0px;
  width:85px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u1833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:0px;
  width:225px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  word-wrap:break-word;
}
#u1833_ann {
  border-width:0px;
  position:absolute;
  left:574px;
  top:0px;
  width:1px;
  height:1px;
}
#u1834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:0px;
  width:226px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  word-wrap:break-word;
}
#u1834_ann {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:1px;
  height:1px;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:0px;
  width:229px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:225px;
  word-wrap:break-word;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:66px;
  height:30px;
}
#u1836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:30px;
  width:117px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:30px;
  width:95px;
  height:30px;
}
#u1838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u1839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:30px;
  width:85px;
  height:30px;
}
#u1839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u1840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:30px;
  width:225px;
  height:30px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:221px;
  word-wrap:break-word;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:30px;
  width:226px;
  height:30px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:222px;
  word-wrap:break-word;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:30px;
  width:229px;
  height:30px;
}
#u1842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:66px;
  height:30px;
}
#u1843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:60px;
  width:117px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:60px;
  width:95px;
  height:30px;
}
#u1845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u1846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:60px;
  width:85px;
  height:30px;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u1847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:60px;
  width:225px;
  height:30px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:221px;
  word-wrap:break-word;
}
#u1848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:60px;
  width:226px;
  height:30px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:222px;
  word-wrap:break-word;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:60px;
  width:229px;
  height:30px;
}
#u1849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:66px;
  height:30px;
}
#u1850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:90px;
  width:117px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u1852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:90px;
  width:95px;
  height:30px;
}
#u1852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:90px;
  width:85px;
  height:30px;
}
#u1853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u1854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:90px;
  width:225px;
  height:30px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:221px;
  word-wrap:break-word;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:90px;
  width:226px;
  height:30px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:222px;
  word-wrap:break-word;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:90px;
  width:229px;
  height:30px;
}
#u1856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:66px;
  height:30px;
}
#u1857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:120px;
  width:117px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:120px;
  width:95px;
  height:30px;
}
#u1859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u1860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:120px;
  width:85px;
  height:30px;
}
#u1860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:120px;
  width:225px;
  height:30px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:221px;
  word-wrap:break-word;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:120px;
  width:226px;
  height:30px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:222px;
  word-wrap:break-word;
}
#u1863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:30px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:120px;
  width:229px;
  height:30px;
}
#u1863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:503px;
  width:114px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u1865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:503px;
  width:321px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u1866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:536px;
  width:124px;
  height:20px;
  font-family:'PingFangTC-Thin', 'PingFang TC Thin', 'PingFang TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
