#dots {
  position: absolute;
  left: 165px;
  top: 250px;
}
.dot {
  width: 10px;
  height: 10px;
  float: left;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.jiantouLeft {
  position: absolute;
  left: 7px;
  top: 100px;
  width: 20px;
  height: 40px;
  text-align: center;
  background-color: skyblue;
  float: left;
  line-height: 40px;
  font-size: 27px;
  border-radius: 0px 20px 20px 0px;
  color: white;
  z-index: 2;
}
.jiantouRight {
  position: absolute;
  left: 358px;
  top: 100px;
  width: 20px;
  height: 40px;
  text-align: center;
  background-color: skyblue;
  float: left;
  line-height: 40px;
  font-size: 27px;
  color: white;
  border-radius: 20px 0px 0px 20px;
  z-index: 2;
}

img {
  width: 370px;
  height: 270px;
  z-index: 1;
}

